language: go
go:
- "1.10.x"
- "1.11.x"
- master
matrix:
  allow_failures:
    - go: master
  fast_finish: true
branches:
  only:
  - develop
  - master
- env:
  - GO111MODULE=on
install:
- go get github.com/keltia/proxy
- go get github.com/urfave/cli
- go get github.com/naoina/toml
- go get github.com/keltia/ripe-atlas
